.activity {
  margin: 10px 10px;
  padding: 60px 15px;
}

.activity__text{
  color: var(--title-color);
  text-align: center;
  width: 127.5px;
  height: 33px;
  align-items: center;
  padding: 7.5px 22.5px;
  border-width: 1px;
  border-radius: 50px 50px 50px 15px;
  margin: auto;
  font-size: var(--text-font-size);
  font-weight: 500;
  background-color: var(--background-button-color);
}

.activity__title{
  color: var(--title-color);
  text-align: center;
  font-weight: 800;
  font-size: var(--title-font-size);
  margin: 15px 5px;
}

.concept__title{
  color: var(--title-color);
  text-align: center;
  font-size: 16.8px;
  font-weight: 600;
  margin: 25px auto auto auto;
}

.concept__text{
  color: var(--text-color);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  display: block;
  padding: 15px 30px;
}

.concept__icon{
  margin: 10px auto;
   width: 45px;
   padding: 5px;
   border-width: 1px;
   border-radius: 10px;
}
.activity__concept,
.activity__filming,
.activity__post{
  background-color: var(--background-button-color);
  border-width: 1px;
  border-radius: 25px;
  padding: 22.5px 10px;
  margin: 30px auto;
}

.activity__foto{
  display: flex;
}

.foto__container{
  flex: 1;
  display: flex;
  margin: auto 10px;
  flex-direction: column;
}

.foto__container:first-child {
  justify-content: flex-start; 
}

.foto__container:not(:first-child) {
  justify-content: space-between; 
}

.foto{
  margin: auto;
  padding: auto;
  border-width: 1px;
  border-radius: 20px;
}